<!DOCTYPE html>

<html>
	<head>
		<title>Welcome to Angular.js!</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	</head>

	<body>
		<div ng-app="MyApp">
			<div ng-controller="MyCtrl">
				<select ng-model="activeLang" ng-options="lang.code as lang.name for lang in langs">
				</select>
				{{'GREETING' | translate:activeLang}}

				Color Filter: <input ng-model="colorFilter">
				<ul>
					<li ng-repeat="color in colors | filter:colorFilter | orderBy:'toString()'">{{color}}</li>
				</ul>
			</div>
		</div>

		<script>

			var resources = {
				'GREETING': {
					'EN': "Hello!",
					'SP': "Hola!",
					'FR': "Bonjour!"
				}
			};

			angular.module("MyApp", [])
				.filter("translate", function() {

					return function(value, lang) {
						return resources[value][lang];
					}

				})
				.controller("MyCtrl", function($scope) {

					$scope.langs = [
						{ name: 'English', code: 'EN' },
						{ name: 'Spanish', code: 'SP' },
						{ name: 'French', code: 'FR' }
					];

					$scope.colors = [
						"red", "green", "blue", "orange", "black", "purple", "pink", "brown"
					];

					$scope.activeLang = 'SP';
					$scope.message = "hi class! its snowing...";

					console.log($scope.$eval("'GREETING' | translate:activeLang"));
				});

		</script>

	</body>
</html>
